/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	height: 200px;
	width: 100vw;
	padding: 25px;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.telo {
	display:flex;
	flex-wrap: wrap;
}

nav {
	flex-grow: 1;
	padding: 25px;
}

article {
	width: 75%;
	padding: 25px;
	height: 650px;
}

aside {
	flex-grow: 1;
	padding: 25px;
}


