/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	height: 150px;
	padding: 25px;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


.main {
	display: flex;
	flex direction: row;
	height: 450px;
}

nav {
	width: 20%;
	padding: 25px;
}

article {
	width: 60%;
	padding: 25px;
}

aside {
	width: 20%;
	padding: 25px;
}
